<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>

    .max-img{
        max-width: 100px !important;
        aspect-ratio: 4/3  !important;
    }

    .center--align{
        text-align: center;
    }
    .margin-b{
        margin: 15px 0;
        padding:10px;
        border-bottom: 2px solid black;
    }
</style>
</head>
<body>
< <div class="container">

    <h1>SENTIDOS Tea House and Restaurant</h1>
    <h3>Lista de Precios</h3>


    <table class=" table-primary table table-striped-columns">
        <thead>
            <th class="center--align" scope="col">Nombre</th>
            <th class="center--align" scope="col">Descripcion</th>
            <th class="center--align" scope="col">Precio</th>
        </thead>
        <tbody>
            {% for comida in comidas %}
            <tr scope="row" class="margin-b">
                <td class="center--align" >{{comida.name}}</td>
                <td class="center--align" >{{comida.description}}</td>
                <td class="center--align" >${{comida.price}}</td>
            </tr>
            {% endfor%}
        </tbody>

    </table>
</div>
</body>
</html>